body {
    background-color: #344e5c;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top: 2rem;
}

h1, p {
    text-align: center;
}